<div class="container list">
    <div class="tittle">Upcomings Apointments</div>
    <div class="card w-75">
        <div class="card" *ngFor="let apointment of apointments;" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">next apointment</h4>
                <h5 class="card-subtitle mb-2 text-muted">{{apointment.nameOfDogOwner}}</h5>
                <p class="card-text"> <b> Apointment Date:</b> {{apointment.timeOfApoitment}}</p>
                <a href="my-apointments" class="card-link" (click)="onDelete(apointment.id)">Delete</a>
                <a class="card-link" (click)="onChange(apointment)">Change Date</a>
            </div>
        </div>
    </div>
</div>