<div class="card" style="width: 18rem;">
    <div class="card-header" style="font-size: 1.5rem;">
        <b>Haircut Details</b>
    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item"><b>Dog owner</b> : {{apointment.nameOfDogOwner}}</li>
        <li class="list-group-item"><b>Date</b>: {{apointment.timeOfApoitment}}</li>
        <li class="list-group-item">
            <p>apointment made in {{apointment.timeOfApoitmentMade}}</p>
        </li>
    </ul>
</div>